.portal{
    background-color: teal;
    height: 100vh;
    color: black;
    text-align: center;
}
i{
    padding-right: 10px;
}
ul li{
    padding-bottom: 10px;
    color: white;

}
ul li:hover{
    color: red;
}
Link{
    color:black;
}
.table{
    min-width: 650;
  }